h1 {font-size:10pt;color:blue}
h2{font-size:14pt;color:purple}
h3 {font-size:20pt;color:orange}
.yazi_kirmizi{background:blue;font-weight:bold;color:red;}
.yazi_mavi{background:red;font-weight:bold;color:blue;}
.yazi_pink{background:purple;font-weight:bold;color:pink}
#baslik{background:purple;font-weight:bold;color:pink}